title = "Home"
url = "/"
layout = "default"
is_hidden = 0
meta_title = "Moveis em Goiânia, Goiânia Center Moveis, Center moveis goiania."
meta_description = "Center Móveis é especializadas em moveis em goiânia."
seo_keywords = "Moveis, Sofa, Cama, Mesa, Roupeiro, Guarda Roupas, Goiânia, Moveis Goiânia, Sofa Goiânia, Rack, Painel, Sala, Quarto, Armário, Buffet."
robot_index = "index"
robot_follow = "follow"
==
<?php
use Breno\Moveis\Models\Banner;
	use Breno\Moveis\Utils\Carrinho;

	function onStart()
	{
		$this->addCss('assets/js/rs-plugin/css/settings.css');
		$this->addJs('assets/js/rs-plugin/js/jquery.themepunch.tools.min.js');
		$this->addJs('assets/js/rs-plugin/js/jquery.themepunch.revolution.min.js');

		$carrinho = new Carrinho();
		$carrinho->success();

		$this['banners'] = Banner::all();
	}
?>
==
<div class="back">
	<div class="animated transparent" data-animation="fadeInDown" data-animation-delay="400">
		<!-- - - - - - - - - - - - - - Revolution slider - - - - - - - - - - - - - - - - -->
		<div class="revolution_slider">
			<div class="rev_slider">
				<ul>
					{% for banner in banners %}
					<!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->
						<li data-transition="papercut" data-slotamount="7">
							<img src="{{banner.image.path}}" alt="{{banner.image.title}}" title="{{banner.image.title}}">
						</li>
					<!-- - - - - - - - - - - - - - End of Slide 1 - - - - - - - - - - - - - - - - -->
					{% endfor %}
				</ul>
			</div>
			<!--/ .rev_slider-->
		</div>
		<!--/ .revolution_slider-->
		<!-- - - - - - - - - - - - - - End of Revolution slider - - - - - - - - - - - - - - - - -->
	</div>


	<!--/ .animated.transparent-->
	<div class="page_wrapper" id="index-page">
		<div class="container">

			{% for categoria in categorias %}
				<section class="section_offset animated transparent" data-animation="fadeInDown">
					<h3 class="offset_title section_title">{{ categoria.nome }}</h3>
					<!-- - - - - - - - - - - - - - Carousel of beauty products - - - - - - - - - - - - - - - - -->
					<div class="owl_carousel carousel_in_tabs">
					    {% set categoria_id = categoria.id %}
						{% partial 'produto' id=categoria.id %}
					</div>
					<!--/ .sh_container-->
					<!-- - - - - - - - - - - - - - End of carousel of beauty products - - - - - - - - - - - - - - - - -->
					<!-- - - - - - - - - - - - - - View all - - - - - - - - - - - - - - - - -->
					<footer class="bottom_box">
						<a href="/categoria/{{ categoria.slug }}" class="button_grey middle_btn">Ver todos</a>
					</footer>
					<!-- - - - - - - - - - - - - - End of view all - - - - - - - - - - - - - - - - -->
				</section>
				<!--/ .section_offset -->
			{% endfor %}
		</div>
	</div>
</div>
